.photo-grid{
    width: 90%;
    margin: 92px auto 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
}

@media screen and (max-width:425px) {
    .photo-grid{
        grid-template-columns: repeat(1, 1fr);
        gap: 12px;
        margin-top: 64px;
    }
}
