.intro__container{
    max-width: 690px;
    align-self: flex-start;
}

@media screen and (max-width:1024px) {
    .intro__container{
        width: 90%;
    }
}

@media screen and (max-width:768px) {
    .intro__container{
        width: 100%;
        max-width: 720px;
    }
}

@media screen and (max-width:425px) {
    .intro__container{
        width: 100%;
        max-width: 720px;
    }
}