.intro__text{
    max-width: 690px;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    color: white;
    margin: 40px 0;
}

@media screen (max-width:768px) {
    .intro__text{
        max-width: 720px;
    }
}

@media screen and (min-width:425px){
    .intro__text{
        max-width: 288px;
    }
}