.cover{
    max-width: 1184px;
    min-height: 740px;
    margin: 92px auto;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    position: relative;
}

@media screen and (max-width:1024px) {
    .cover{
        width: 100%;
        margin: 90px auto;
        min-height: 640px;
    }
}

@media screen and (max-width:768px)  {
    .cover{
        min-height: 480px;
        max-width: 768px;
    }
}

@media screen and (max-width:425px) {
    .cover{
        min-height: 200px;
        margin: 65px auto;
    }
}